<main id="main" class="main">
    <div class="pagetitle">
       <h1>Product</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Product</li>
             <li class="breadcrumb-item active">Add</li>
          </ol>
       </nav>
    </div>
    <section class="section profile">
       <div class="row">
       
          <div class="col-xl-8">
             <div class="card">
                <div class="card-body pt-3">
                   <ul class="nav nav-tabs nav-tabs-bordered">
                     
                      <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Add Product</button></li>
                      
                   </ul>
                   <div class="tab-content pt-2">
                      <div class="tab-pane fade show active fade profile-edit pt-3" id="profile-edit">
                         <form [formGroup]= "AddProduct" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                            <div class="row mb-3">
                               <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Product Image</label>
                               <div class="col-md-8 col-lg-9">
                                
                                  <img *ngIf="IsImageShow == false" class="avatar border-gray" src="assets/img/profile-img.jpg" alt="Profile" alt="...">
                                  <img *ngIf="IsImageShow" class="avatar border-gray" [src]="url" alt="...">
                                                           
                                  <div class="custom-file">
                                    <!-- <input type="file" class="custom-file-input" id="customFile"> -->
                                    <input type="file"  class="custom-file-input"  required  (change)="onFileSelect($event)">
                                    
                                  </div>
                               </div>
                            </div>
                            <div class="row mb-3">
                               <label for="Name" class="col-md-4 col-lg-3 col-form-label">Name</label>
                               <div class="col-md-8 col-lg-9"> <input name="Name" type="text" class="form-control" id="Name" formControlName="Name" [ngClass]="{'red-border-class': f['Name'].errors && f['Name'].dirty}" ></div>
                              
                               <div *ngIf="f['Name'].touched && f['Name'].invalid" class="alert alert-danger">Name is required, Min 3 digits</div>
                                                              
                             
                           </div>
                           <div class="row mb-3">
                              <label for="Description" class="col-md-4 col-lg-3 col-form-label">Description</label>
                              <div class="col-md-8 col-lg-9"> <input name="Description" type="text" class="form-control" formControlName="Description"  id="Description" [ngClass]="{ 'is-invalid': submitted && f['Description'].errors }" ></div>
                              <div *ngIf="f['Description'].touched && f['Description'].invalid" class="alert alert-danger">Description is required, Min 5 digits</div>
                          </div>
                          <div class="row mb-2">
                           <label for="Price" class="col-md-4 col-lg-3 col-form-label">Price</label>
                           <div class="col-md-8 col-lg-9"> <input name="Price" type='number' step='0.01' value='0.00' formControlName="Price"  placeholder='0.00' class="form-control" id="Price" [ngClass]="{ 'is-invalid': submitted && f.Price.errors }" ></div>
                           <div *ngIf="f['Price'].touched && f['Price'].invalid" class="alert alert-danger">Price is required</div>
                       </div>                        
                            <div class="text-center"> <button type="submit" [disabled]="AddProduct.invalid" class="btn btn-primary">Add Product</button></div>
                         </form>
                      </div>
                     
                    
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>